<h1>Welcome to the Noms Factory</h1>
<p>
  You can find noms and such!
</p>
<p>
  <small>This email was intended for <%= @user_email %>. If that is not you, then someone is using your email, and you should freak out!</small>
</p>
