<h1>Welcome to food page!</h1>
<p>Schdule your food events!</p>
<a href="<%= report_path %>" class='btn btn-info'>Request Report</a>

<a href="#hello" data-toggle="modal" class="btn btn-default">HELLO</a>
<a href="#create-event" data-toggle="modal" class="btn btn-success">Create Event</a>
<%= render('events/new_modal') %>

<div id="calendar"></div>

<div id="restaurants">

</div>

<div id="hello" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="hello-modal-label" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>Hello Modal</h4>
      </div>
      <div class="modal-body">
        <p>YO YO!</p>
      </div>
    </div>
  </div>
</div>
