@import "bootstrap";
@import "fullcalendar";


#wrapper {
  padding: 10px;
  margin: 5px 50px;
  background-color: #B3B5B5;
  border-radius: 5px;
}

h1 {
  color: #D663D5;
}

p {
  color: white;
  font-size: 20px;
}
